#ifndef SRC_MACROS_H_
#define SRC_MACROS_H_

//registers
Xuint32 *baseaddr_p = (Xuint32 *)XPAR_SIMPLE_MONITOR_0_S00_AXI_BASEADDR;
#define REG_0 (baseaddr_p+0)
#define REG_1 (baseaddr_p+1)
#define REG_2 (baseaddr_p+2)
#define REG_3 (baseaddr_p+3)
#define REG_4 (baseaddr_p+4)
#define REG_5 (baseaddr_p+5)
#define REG_6 (baseaddr_p+6)
#define REG_7 (baseaddr_p+7)
#define REG_8 (baseaddr_p+8)
#define REG_9 (baseaddr_p+9)
#define REG_10 (baseaddr_p+10)
#define REG_11 (baseaddr_p+11)
#define REG_12 (baseaddr_p+12)
#define REG_13 (baseaddr_p+13)
#define REG_14 (baseaddr_p+14)
#define REG_15 (baseaddr_p+15)
#define REG_16 (baseaddr_p+16)
#define REG_17 (baseaddr_p+17)
#define REG_18 (baseaddr_p+18)
#define REG_19 (baseaddr_p+19)
#define REG_20 (baseaddr_p+20)
#define REG_21 (baseaddr_p+21)
#define REG_22 (baseaddr_p+22)
#define REG_23 (baseaddr_p+23)
#define REG_24 (baseaddr_p+24)
#define REG_25 (baseaddr_p+25)
#define REG_26 (baseaddr_p+26)
#define REG_27 (baseaddr_p+27)
#define REG_28 (baseaddr_p+28)
#define REG_29 (baseaddr_p+29)
#define REG_30 (baseaddr_p+30)
#define REG_31 (baseaddr_p+31)
#define REG_32 (baseaddr_p+32)
#define REG_33 (baseaddr_p+33)
#define REG_34 (baseaddr_p+34)
#define REG_35 (baseaddr_p+35)
#define REG_36 (baseaddr_p+36)
#define REG_37 (baseaddr_p+37)
#define REG_38 (baseaddr_p+38)
#define REG_39 (baseaddr_p+39)
#define REG_40 (baseaddr_p+40)
#define REG_41 (baseaddr_p+41)
#define REG_42 (baseaddr_p+42)
#define REG_43 (baseaddr_p+43)
#define REG_44 (baseaddr_p+44)
#define REG_45 (baseaddr_p+45)
#define REG_46 (baseaddr_p+46)
#define REG_47 (baseaddr_p+47)
#define REG_48 (baseaddr_p+48)
#define REG_49 (baseaddr_p+49)
#define REG_50 (baseaddr_p+50)
#define REG_51 (baseaddr_p+51)
#define REG_52 (baseaddr_p+52)
#define REG_53 (baseaddr_p+53)
#define REG_54 (baseaddr_p+54)
#define REG_55 (baseaddr_p+55)
#define REG_56 (baseaddr_p+56)
#define REG_57 (baseaddr_p+57)
#define REG_58 (baseaddr_p+58)
#define REG_59 (baseaddr_p+59)
#define REG_60 (baseaddr_p+60)
#define REG_61 (baseaddr_p+61)
#define REG_62 (baseaddr_p+62)
#define REG_63 (baseaddr_p+63)
#define REG_64 (baseaddr_p+64)
#define REG_65 (baseaddr_p+65)
#define REG_66 (baseaddr_p+66)
#define REG_67 (baseaddr_p+67)
#define REG_68 (baseaddr_p+68)
#define REG_69 (baseaddr_p+69)
#define REG_70 (baseaddr_p+70)
#define REG_71 (baseaddr_p+71)
#define REG_72 (baseaddr_p+72)
#define REG_73 (baseaddr_p+73)
#define REG_74 (baseaddr_p+74)
#define REG_75 (baseaddr_p+75)
#define REG_76 (baseaddr_p+76)
#define REG_77 (baseaddr_p+77)
#define REG_78 (baseaddr_p+78)
#define REG_79 (baseaddr_p+79)
#define REG_80 (baseaddr_p+80)
#define REG_81 (baseaddr_p+81)
#define REG_82 (baseaddr_p+82)
#define REG_83 (baseaddr_p+83)
#define REG_84 (baseaddr_p+84)
#define REG_85 (baseaddr_p+85)
#define REG_86 (baseaddr_p+86)
#define REG_87 (baseaddr_p+87)
#define REG_88 (baseaddr_p+88)
#define REG_89 (baseaddr_p+89)
#define REG_90 (baseaddr_p+90)
#define REG_91 (baseaddr_p+91)
#define REG_92 (baseaddr_p+92)
#define REG_93 (baseaddr_p+93)
#define REG_94 (baseaddr_p+94)
#define REG_95 (baseaddr_p+95)
#define REG_96 (baseaddr_p+96)
#define REG_97 (baseaddr_p+97)
#define REG_98 (baseaddr_p+98)
#define REG_99 (baseaddr_p+99)

#define OFFLINE 0x00000001
#define RST 0x00000002
#define NEW_INPUT 0x00000004

#define NEW_INPUT_REG REG_0
#define TIME_LOW_REG REG_1
#define TIME_UP_REG REG_2{{new_input}}{{input_values}}
{{output_values}}

#endif /* SRC_MACROS_H_ */
